<!DOCTYPE html>
<html>
  <head>
     <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Student List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < students.length; i++) {
          list += '<li><a href="mailto:' + students[i].email + '">' + students[i].name + '</a></li>';
        }
      %>
      <%= list %>
    </ul>
  </body>
</html>